<footer class="footer pt-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- Left-aligned link -->
      <div class="col text-start">
        <a href="https://www.fernuni-hagen.de/"
           class="nav-link text-muted"
           target="_blank">FernUniversität in Hagen</a>
      </div>
      <!-- Center-aligned link -->
      <div class="col text-center">
        <a href="https://www.fernuni-hagen.de/bildungswissenschaft/bildung-medien/"
           class="nav-link text-muted"
           target="_blank">Bildungstheorie und Medienpädagogik</a>
      </div>
      <!-- Right-aligned link -->
      <div class="col text-end">
        <a href="https://www.fernuni-hagen.de/forschung/schwerpunkte/catalpa/ueber-catalpa/index.shtml"
           class="nav-link text-muted"
           target="_blank">CATALPA</a>
      </div>
    </div>
  </div>
</footer>
